.RecordsGrid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px
}


.RecordsGrid__records {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
