.TriggersPage {
background-color: var(--grey-10);
}

.TriggersPage__content {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap:  22px;
    align-items: start;
}

.TriggersPage .TriggersPage__title {
    margin-top: 0;
    margin-bottom: 10px;
}
