.RecordChatTimelineSlider .ant-slider-rail,
.RecordChatTimelineSlider .ant-slider-track,
.RecordChatTimelineSlider .ant-slider-step {
    opacity: 0;
}

.RecordChatTimelineSlider .ant-slider-handle {
    width: 10px;
    height: 20px;
    top: -3px;
    margin-left: 3px;
}

.RecordChatTimelineSlider .ant-slider-handle::after {
    height: 20px;
    width: 3px;
    background-color: var(--yellow-6);
    box-shadow: none;
    border-radius: 5px;
}

.RecordChatTimelineSlider .ant-slider-handle:hover {
    top: -5px;
}

.RecordChatTimelineSlider .ant-slider-handle:hover::after,
.RecordChatTimelineSlider .ant-slider-handle:focus::after{
    height: 25px;
    width: 4px;
    background-color: var(--yellow-6);
    box-shadow: none;
}
