:root {
    --font-size-xs: 10px;
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 20px;

    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 40px;

    --grey-1: #ffffff;
    --grey-6: #bfbfbf;
    --grey-7: #8c8c8c;
    --grey-8: #595959;
    --grey-10: #262626;
    --grey-11: #1f1f1f;
    --grey-12: #141414;

    --red-6: #f5222d;

    --green-6: #52c41a;

    --pink-5: #9254de;

    --yellow-6: #fadb14;

    --border-radius-l: 20px;
    --border-radius-m: 10px;
    --border-radius-s: 5px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-mrdium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}
